.dropdown-item:hover {
    background-color: dodgerblue;
}

.link {
    font-size: 25px;
    color: white;
}

#header {
    margin-top: 10px;
    margin-bottom: 20px;
}

#addTrain {
    margin-bottom: 20px;
}

body {
    background-image: url(traintrack.jpg);
}

#trainTable {
    text-align: center;
}