.navbar {
    background-image: linear-gradient(to right, white, #80bae2);
    color: dodgerblue;
    font-size: 20px;
}

.nav-link:hover {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px dodgerblue, 0 0 5px yellow;
}

.navbar-brand {
    font-size: 25px;
}

.dropdown-item:hover {
    background-color: dodgerblue;
}

body {
    background-position: top;
    background-image: url(../images/beach.jpg);
    height: 100%;
    background-repeat: no-repeat;
}

#profile, .modal-content {
    background-image: linear-gradient(to right, white, #80bae2);
}

.main-div {
    float: left;
    font-size: 20px;
    line-height: 2;
    margin-bottom: 20px;
}

.JJ {
    float: left;
    width: 250px;
    margin-right: 15px;
}

.flex-container {
    display: flex;
    justify-content: center;
  }
  
.github, .linkedin {
    margin-right: 50px;
} 

.empty {
    height: 100px;
}

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content {
    width: 700px;
    height: 500px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
}

.email {
    cursor: pointer;
}

input {
    /* width: 60%; */
    display: block;
    margin: 15px auto;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-image: linear-gradient(to right, white, #80bae2);
}