.dropdown-item:hover {
    background-color: dodgerblue;
}

#header {
    margin-top: 10px;
    margin-bottom: 20px;
}

#addTrain {
    margin-bottom: 20px;
}

body {
    background-image: url(../traintrack.jpg);
}

#trainTable {
    text-align: center;
}