.dropdown-item:hover {
    background-color: dodgerblue;
}

.row {
    margin-top: 10px;
}

button {
    margin: 10px;
}

input {
    padding-left: 5px;
}

.sport {
    margin-left: 30px;
}

h1 {
    background-image: url("../../../../assets/images/regal.png");
}

body {
    font-family: 'Philosopher', sans-serif;
    background-image: url("../../../../assets/images/regal.png");
}

p {
    margin-bottom: 0;
}