button {
    margin: 10px;
}

input {
    padding-left: 5px;
}

.container {
    margin-top: 25px;
    float: left;
}

h1 {
    background-image: url("../../../../images/regal.png");
}

body {
    font-family: 'Philosopher', sans-serif;
    background-image: url("../../../../images/regal.png");
}

.moreImages {
    margin-bottom: 10px;
}

#images p {
    margin-bottom: 0;
}